*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", monospace;
}

.navbar{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    position: fixed;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 10%;
    z-index: 1;
}

.nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img{
    width: 80px;
    margin-right: 50px;
}


.nav-search  {
    float: right;
}
  
.nav-search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 15px 0 0 15px;
    height: 40px;
}
  
.nav-search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #6297DB;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #77FFD2;
}
  
.nav-search button:hover {
   background: #77FFD2;
}
  
.bx-search{
    font-size: 22px;
}

.nav-search input[type=text]:focus{
    outline: none;
}

#check{
    display: none;
}

.icons{
    font-size: 2.4rem;
    color: #0066CC;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}



.nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav-link{
    padding-right: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0066CC;
}

.nav-link:hover{
    color: #50A7C2;
}

.get-started{
    height: 30px;
    width: auto;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #50A7C2;
    color: #0066CC;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.get-started:hover{
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    color: #edf1f5;
    border: none;
}

.listening{
    margin-top: 100px;
    width: 100%;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.3rem 10%;

}

.listening-head{
    font-size: 65px;
    color: #fcfdfd;
    margin-bottom: 15px;
} 

.listening-caption{
    font-family: "Montserrat", sans-serif;
    color: #fcfdfd;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.start-listen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #0066CC;
    padding: 10px;
    cursor: pointer;
}

.start-listen .btn-start{
    color: #dfe9f3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.start-listen:hover{
    background-color: #6297DB;
}

.profile-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.profile{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.profile img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.overlay{
    height: 0;
    width: 100%;
    background-image: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.profile-name{
    color: #dfe9f3;
    font-size: 35px;
}

.profile-profession{
    height: 35px;
    width: auto;
    border-radius: 15px;
    background-color: #edf1f5;
    color: #0066CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.profile:hover img{
    transform: scale(1.2);
}

.profile:hover .overlay{
    height: 50%;
}

.latest{
    padding: 1.3rem 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.latest-head,
.topic-head{
    margin-bottom: 25px;
    height: 60px;
    width: 350px;
    padding: 10px;
    background-color: #dfe9f3;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-head h1,
.topic-head h1{
    color: #1c1c1c;
}

.episodes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.episode-card{
    display: flex;
    width: 700PX;
    height: 250px;
    padding: 25px;
    border: 1px solid #1EECFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin: 0 25px 25px 0;
    flex-wrap: wrap;
}

.episode-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
}

.left-side{
    width: 30%;
}

.left-side img{
    height: 100px;
    position: relative;
    margin-bottom: 10px;
}

.left-side .play-btn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #6297DB;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
}

.left-side .play-btn:hover{
    background-color: #B0F3D9;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-side .play-btn i{
    color: #edf1f5;
}

.btn-sbscr{
    background-color: #0066CC;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: #edf1f5;
    font-weight: 700;
}

.podcats-head{
    color: #50A7C2;
    cursor: pointer;
}

.podcats-head:hover{
    color: #6297DB;
}
.podcast-profile img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.right-side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.podcast-profile{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 10px 0;
}

.podcast-profile img{
    margin-right: 10px;
}

.profile-caption .profile-name{
    font-size: 20px;
    color: #1c1c1c;
}
.bx-stopwatch{
    color: #50A7C2;
    font-size: 18px;
}
.podcats-icons{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
}


.podcat-time span{
    font-size: 20px;
}


.icon i,
.icon span{
    color: #50A7C2;
    cursor: pointer;
    font-size: 18px;
}

.icon i:hover,
.icon span:hover{
    color: #0066CC;
}

.side-reaction-btn{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.reaction-icon{
    background-color: #1c1c1c;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 25px 0;
    color: #dfe9f3;
    font-size: 25px;
}

.reaction-icon:hover{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #cce3fa;
}


.topics{
    padding: 1.3rem 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topic-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.topic-box{
    height: 300px;
    width: 350px;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 25px;
    margin: 0 15px 15px 0;
}

.topic-box img:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.topic-box img{
    width: 90%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.topic-caption h2{
    color: #50A7C2;
}

.topic-epi{
    height: 25px;
    width: 150px;
    background-color: #0066CC;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.topic-box span{
    color: #dfe9f3;
    font-weight: 600;
}

.footer{
    height: 20vh;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    padding: 1.3rem 10%;
}

.footer-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe{
    display: flex;
    margin-bottom: 10px;
}

.subscribe input[type=email]{
    width: 300px;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.subscribe input[type=button]{
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #50A7C2;
    cursor: pointer;
    color: #dfe9f3;
    font-weight: 600;
}

.subscribe input[type=email]:focus{
    outline: 2px solid #0066CC;
}

.subscribe input[type=button]:hover{
    background-color: #537895;
}
.contact{
    margin-bottom: 10px;
}
.contact .phn,
.contact .email{
    font-size: 18px;
    color: #dfe9f3;
    font-weight: 600;
    padding-bottom: 10px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.brand{
    font-size: 28px;
    font-weight: 600;
    color: #0066CC;
}

.brand:hover{
    color: #dfe9f3;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .nav-search input[type=text]{
        display: none;
    }

    .nav-search button{
        border-radius: 20px;
    }

    .get-started{
        display: none;
    }
    .listening, 
    .latest,
    .topics{
        padding: 20px;
    }
    .profile-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .episode-card{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .icons{
        display: flex;
    }

    #cancel{
        display: none;
    }

    #check:checked~.icons #menu{
        display: none;
    }

    #check:checked~.icons #cancel{
        display: block;
    }

    .nav-list{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #77FFD2;
        width: 100%;
        display: none;
    }

    #check:checked~ .nav-list{
        display: block;
        height: 15rem;
    }

    .listening-head,
    .listening-caption{
        text-align: center;
    }

    .nav-link{
        text-align: center;
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
    }
    .listening,
    .latest,
    .topics{
        padding: 20px;
    }

    .profile-card {
        grid-template-columns: 1fr;
    }

    .profile {
        width: 80%;
        margin: 0 auto;
    }
    .episode-card{
        width: 100%;
    }
    .episode-card{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .left-side, 
    .right-side,
    .side-reaction-btn{
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side-reaction-btn{
        display: flex;
        flex-direction: row;
    }

    .subscribe input[type=email]{
        width: 200px;
    }

    .footer{
        height: 30vh;
    }

    .latest-head,
    .topic-head{
        width: 250px;
        font-size: 12px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .profile {
        width: 100%;
    }

    .episode-card{
        width: 100%;
    }
    .left-side, 
    .right-side,
    .side-reaction-btn{
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .podcats-head{
        font-size: 25px;
    }
    .side-reaction-btn{
        display: flex;
        flex-direction: row;
    }
}